* {
  box-sizing: border-box;
}

body {
  color: #111;
  background-color: #EEE;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  text-align: center;
}
